include mixins.jade

extends layout

block content
  h1 Запчастини для #{title}
  +model("/citroen/doblo", "/images/citroen/nemo.jpg", "Citroen Nemo")
  +model("/citroen/scudo", "/images/citroen/berlingo.jpg", "Citroen Berlingo")
  +model("/citroen/ducato", "/images/citroen/jumpy.jpg", "Citroen Jumpy")
  +model("/citroen/ducato", "/images/citroen/jumper.jpg", "Citroen Jupmer")