include mixins.jade

extends layout

block content
  h1 Запчастини для #{title}
  +model("/ford/courier", "/images/ford/courier.jpg", "Ford Courier")
  +model("/ford/connect", "/images/ford/connect.jpg", "Ford Connect")
  +model("/ford/transit", "/images/ford/transit.jpg", "Ford Transit")