include mixins.jade

extends layout

block content
  h1 Запчастини для #{title}
  +model("/fiat/doblo", "/images/doblo.jpg", "Fiat Doblo")
  +model("/fiat/scudo", "/images/scudo.jpg", "Fiat Scudo")
  +model("/fiat/ducato", "/images/ducato.jpg", "Fiat Ducato")