include mixins.jade

extends layout

block content
  h1= title
  .table-wrapper
    .row
      +catalog("/fiat", "/images/mark/fiat.png", ["Doblo", "Scudo", "Ducato"])
      +catalog("/citroen", "/images/mark/citroen.png", ["Nemo", "Berlingo", "Jumpy", "Jumper"])
      +catalog("/ford", "/images/mark/ford.png", ["Courier", "Transit", "Connect"])
    .row
      +catalog("/peugeot", "/images/mark/peugeot.png", ["Bipper", "Boxer", "Expert", "Partner"])
      +catalog("/renault", "/images/mark/renault.png", ["Kangoo", "Mascott", "Master", "Trafic"])
      +catalog("/mercedes", "/images/mark/mercedes.png", ["Sprinter", "Vito"])
      +catalog("/nissan", "/images/mark/nissan.png", ["Primastar", "Kubistar"])
      +catalog("/opel", "/images/mark/opel.png", ["Vivaro", "Movano"])
      +catalog("/volkswagen", "/images/mark/volkswagen.png", ["Caddy", "Crafter"])