include mixins.jade

extends layout

block content
  h1= title
  .table-wrapper
    .row
      +catalog({
        "fiat" : [
          "doblo",
          "scudo",
          "ducato"
        ],
        "citroen" : [
          "doblo",
          "scudo",
          "ducato"
        ],
        "peugeot" : [
          "doblo",
          "scudo",
          "ducato"
        ]
      })