extends layout

block content
  h1= title
  .table-wrapper
    .row
      each objVal, objKey in list
        div.col-sm-4.catalog
          .inner
            a(href= objKey.toLowerCase())
              img(src= objVal.imgurl, alt=objKey)
            ul.list-inline.container-fluid
              each arrVal in objVal.models
                li
                   a(href= objKey.toLowerCase() + "/" + arrVal.toLowerCase())= arrVal