doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
  body
    #wrapper(class= noParts ? "no-parts" : "")
      header.bg-primary
        nav.container
          a(href="/") Home
          a(href="/models") Models
          a(href="/parts") Parts
      #content-wrapper(class="container center-block")
        block content
    footer.bg-primary
      .inner-wrapper.container
        .info
          .description Для замовлення деталей зателефонуйте за номером:
          span.phone 063 746 71 51