doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
  body
    #wrapper
      header(class="bg-primary")
        .inner-wrapper.container.center-block
          span.pull-right 0637467151
          .info.pull-right Для замовлення деталей зателефонуйте за номером:

      #content-wrapper(class="container center-block")
        block content
    footer(class="bg-primary") 
      .inner-wrapper.container.center-block
        span.pull-right 063 746 71 51
        .info.pull-right Для замовлення деталей зателефонуйте за номером:


