include mixins.jade

extends layout

block content
  h1 Запчастини для #{title}
  +model("/mercedes/vito", "/images/mercedes/vito.jpg", "Mercedes Vito")
  +model("/mercedes/sprinter", "/images/mercedes/sprinter.jpg", "Mercedes Sprinter")