//- Mixins

mixin catalog(obj)
  each objVal, objKey in obj
    div.col-sm-4.catalog
      .inner
        a(href= objKey.toLowerCase())
          img(src="/images/mark/" + objKey + ".png", alt=objKey)
        ul.list-inline.container-fluid
          each arrVal in objVal
            li 
              a(href= objKey + "/" + arrVal.toLowerCase())= arrVal.replace(/\b([a-z])/gi, function (val) {return val.toUpperCase()})

mixin model(arr)
  each obj in arr
    each val in obj.models
      div.cell.col-sm-3.modellist
        a(href= obj.name + "/" + val)
          img(src= "/images/" + obj.name + "/" + val + ".jpg", alt=obj.name)
          div= val.replace(/\b([a-z])/gi, function (val) {return val.toUpperCase()})