extends layout

block content
  each objVal, objKey in list
    .row.all-models
      if allModels
        h1
          a(href= objKey.toLowerCase())= objKey + " Models"
      else
        h1= title
      each obj in objVal
        div.cell.col-sm-3.modellist
          a(href= objKey.toLowerCase() + "/" + obj.model.toLowerCase())
            img(src= obj.imgurl, alt=objKey)
            div= obj.model