include mixins.jade

extends layout

block content
  h1 #{title.replace(/\b([a-z])/gi, function (val) {return val.toUpperCase()})}
  +model([{
  	name: "mercedes",
  	models : [
		"vito",
		"sprinter"
  		]
  	}, 
  	{
  	name: "opel",
  	models : [
		"vivaro",
		"movano"
  		]
  	},
  	{
  	name: "renault",
  	models : [
		"trafic"
  		]
  	}])