extends layout

block content
  div
    h1 #{title.replace(/\b([a-z])/gi, function (val) {return val.toUpperCase()})}
  div.part-list
    table.table.table-striped
      thead
        tr
          th Part
          th Description
          th Cost
      tbody
        each obj in list
          tr
            td= obj.name
            td= obj.des
            td= obj.price