include mixins.jade

extends layout

block content
  h1 Запчастини для #{title}
  +model("/peugeot/bipper", "/images/peugeot/bipper.jpg", "Peugeot Bipper")
  +model("/peugeot/partner", "/images/peugeot/partner.jpg", "Peugeot Partner")
  +model("/peugeot/expert", "/images/peugeot/expert.jpg", "Peugeot Expert")
  +model("/peugeot/boxer", "/images/peugeot/boxer.jpg", "Peugeot Boxer")