include mixins.jade

extends layout

block content
  h1 Запчастини для #{title}
  +model("/renault/kengo", "/images/renault/kengo.jpg", "Renault Kengo")
  +model("/renault/trafic", "/images/renault/trafic.jpg", "Renault Trafic")
  +model("/renault/master", "/images/renault/master.jpg", "Renault Master")
  +model("/renault/mascott", "/images/renault/mascott.jpg", "Renault Mascott")