include mixins.jade

extends layout

block content
  h1 Запчастини для #{title}
  +model("/volkswagen/caddy", "/images/volkswagen/caddy.jpg", "Volkswagen Caddy")
  +model("/volkswagen/crafter", "/images/volkswagen/crafter.jpg", "Volkswagen Crafter")