* {
    margin: 0;
    padding: 0;
  h1 {
    text-shadow: 0 0 0 #000;
  }
}
html, body {
    height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.inner-wrapper {
  min-height: 60px;
  padding-top: 20px;
  @media (max-width: 767px) {
    padding-top: 10px;
  }
  .info {
    text-align: right;
    @media (max-width: 767px) {
      text-align: center;
    }
    span.phone {
      font-size: 30px;
      color: rgb(169, 217, 79);
      text-shadow: 2px 2px 1px #2B2B2B;
      @media (max-width: 767px) {
        display: block;
      }
    }
    .description {
      text-align: left;
      display: inline-block;
      width: 220px;
      text-shadow: 2px 2px 1px #2B2B2B;
      font-weight: bold;
      @media (max-width: 767px) {
        width: auto;
        text-align: center;
      }
    }
  }
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    padding-bottom: 80px;
    &.no-parts {
      background: url("/images/no_parts.jpg");
      background-size: cover;
    }
  header {
    width: 100%;
    position: fixed;
    min-height: 80px;
    border-bottom: 2px solid #4E4E4E;
    z-index: 9999999;
    nav {
      padding-top: 20px;
      a {
        width: 80px;
        height: 40px;
        margin: 0 5px;
        display: inline-block;
        text-align: center;
        line-height: 40px;
        color: #fff;
        font-weight: bold;
        border: 1px solid #fff;
        transition: All 0.3s ease 0s;
        &:hover {
          color: #555;
          text-decoration: none;
          background: #fff;
        }
      }
    }
  }
  #content-wrapper {
    padding: 80px 0 20px 0;
    .table-wrapper {
      .catalog {
        padding-bottom: 25px; 
        .inner {
          border: 1px solid #999;
          padding: 15px 0;
          text-align: center;
          ul {
            padding-top: 15px;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            text-shadow: 1px 4px 4px #D4D4D4;
          }
        }
      }
    }
    .all-models {
      @media (max-width: 767px) {
        text-align: center;
      }
      .modellist {
        text-align: center;
        padding-bottom: 40px;
        a {
          div {
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }
    .model {
      text-align: center;
    }
    .part-list {
      padding-top: 20px;
    }
    .not-found, .no-parts {
      padding-top: 30px;
      text-align: center;
      img {
        padding: 20px 0 50px 0;
      }
      pre {
        text-align: left;
      }
    }
    .no-parts h1{
      text-shadow: 9px 12px 1px white;
      font-weight: 800;
    }
  }
}
footer {
  min-height: 80px;
  margin-top: -80px;
  border-top: 2px solid #4E4E4E;
}