* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.inner-wrapper {
  min-height: 60px;
  padding-top: 20px;
}
@media (max-width: 767px) {
  .inner-wrapper {
    padding-top: 10px;
  }
}
.inner-wrapper .info {
  text-align: right;
}
@media (max-width: 767px) {
  .inner-wrapper .info {
    text-align: center;
  }
}
.inner-wrapper .info span.phone {
  font-size: 30px;
  color: #a9d94f;
  text-shadow: 2px 2px 1px #2B2B2B;
}
@media (max-width: 767px) {
  .inner-wrapper .info span.phone {
    display: block;
  }
}
.inner-wrapper .info .description {
  text-align: left;
  display: inline-block;
  width: 220px;
  text-shadow: 2px 2px 1px #2B2B2B;
  font-weight: bold;
}
@media (max-width: 767px) {
  .inner-wrapper .info .description {
    width: auto;
    text-align: center;
  }
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  padding-bottom: 80px;
}
#wrapper header {
  min-height: 80px;
  box-shadow: 0 1px 5px #696969;
}
#wrapper #content-wrapper {
  padding-bottom: 20px;
}
#wrapper #content-wrapper .table-wrapper .catalog {
  padding-bottom: 25px;
}
#wrapper #content-wrapper .table-wrapper .catalog .inner {
  border: 1px solid #999;
  padding: 15px 0;
  text-align: center;
}
#wrapper #content-wrapper .table-wrapper .catalog .inner ul {
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 4px 4px #D4D4D4;
}
@media (max-width: 767px) {
  #wrapper #content-wrapper .all-models {
    text-align: center;
  }
}
#wrapper #content-wrapper .all-models .modellist {
  text-align: center;
  padding-bottom: 40px;
}
#wrapper #content-wrapper .all-models .modellist a div {
  font-size: 16px;
  font-weight: bold;
}
#wrapper #content-wrapper .model {
  text-align: center;
}
#wrapper #content-wrapper .part-list {
  padding-top: 20px;
}
footer {
  min-height: 80px;
  margin-top: -80px;
  box-shadow: 0 -1px 5px #696969;
}
