* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.inner-wrapper {
  height: 60px;
  padding-top: 20px;
  span {
    font-size: 30px;
    color: rgb(169, 217, 79);
    text-shadow: 2px 2px 1px #2B2B2B;
  }
  .info {
    width: 220px;
    text-shadow: 2px 2px 1px #2B2B2B;
    font-weight: bold;
  }
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    padding-bottom: 80px;
  header {
    height: 80px;
  }
  #content-wrapper {
    .table-wrapper {
      .catalog {
        padding-bottom: 25px; 
        .inner {
          border: 1px solid #999;
          padding: 15px 0;
          text-align: center;
          ul {
            padding-top: 15px;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            text-shadow: 1px 4px 4px #D4D4D4;
          }
        }
      }
    }
    .modellist {
      text-align: center;
      a {
        div {
          font-size: 16px;
          font-weight: bold;
        }  
      }
    }
  }
}
footer {
  height: 80px;
  margin-top: -80px;
}